<html>
	<head>
		<title> About </title>
		<meta charset="utf-8">
         <link rel="stylesheet" href="../public/css.css" type="text/css"/> 
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	     <script src="../script/code.js"></script>
        <script src="../script/jqueryy.js"></script>
        <script src="../script/animation.js"></script>
        <script src="../script/anim.js"></script>
	</head>
	<body id="body">
        <div id="cadre">
            <%-include("./partials/menu")%>
                <div id="menu1">
                &nbsp;&nbsp;&nbsp;
                <span> Safari adventure </span>
                <img id="world" src="../image/pic/world.png">
                <img id="search" src="../image/pic/search.jpg">
                </div>

                <div id="about">
                </br>
            </br>
                    <p id="p">O u r&nbsp;&nbsp;&nbsp; a n i m a l s:</p>
                    
                    <img id="Lion" src="../image/pic/Lionn.jpg"> &nbsp;&nbsp;&nbsp; The lion (Panthera leo) is a large mammal of the Felidae (cat) family. Some large males weigh over 250 kg (550 lb)
                    <input type="button" id="stylo" value="more..." />
                </br>
                </br>
            
                
                    <img id="gorilla" src="../image/pic/gorilla.jpg"> &nbsp;&nbsp;&nbsp;The gorilla is a great ape. Gorillas may be aggressive when attacked or provoked, but they are naturally gentle.
                    <input type="button" id="stylo1" value="more..." />
                </br>
                </br>
                    <img id="Elephant" src="../image/pic/Eléphant.jpg"> &nbsp;&nbsp;&nbsp;Elephants are the largest living land mammals. The largest elephant recorded was one shot in Angola, 1974. It weighed 27,060 pounds (13.5 tons) and stood 13 feet 8 inches tall. Their skin color is grey. 
                    <input type="button" id="stylo2" value="more..." />
                </br>
                </br>
                <img id="zebre" src="../image/pic/zebre.jpg"> &nbsp;&nbsp;&nbsp; Zebras are mammals of the family Equidae. Zebras are African horses. They are in the same genus as the common horse, Equus caballus, and donkeys. Zebras are known for having many black and white stripes.
                <input type="button" id="stylo3" value="more..." />
            </br>
                </br>
                <img id="Snake" src="../image/pic/Snake.jpg"> &nbsp;&nbsp;&nbsp;Snakes are reptiles. They are part of the order Squamata. They are carnivores, with long narrow bodies and no legs. There are at least 20 families, about 500 genera and 3,400 species of snake.
                <input type="button" id="stylo4" value="more..." />
                </br>
                </br>
                <img id="Chameau" src="../image/pic/Chameau.jpg"> &nbsp;&nbsp;&nbsp; Camels are a mammal of the Camelidae family. Camels form the genus Camelus. There are three living species of camels. Best-known are the dromedary (one hump) and bactrian (two humps) camels.
                <input type="button" id="stylo5" value="more..." />
                </br>
                </br>
                <img id="Lapin" src="../image/pic/Lapin.jpg"> &nbsp;&nbsp;&nbsp; Rabbits are mammals of the order Lagomorpha. They were classified as rodents, but are now in the Lagomorpha, with pikas and hares. 
                <input type="button" id="stylo6" value="more..." />
                </br>
                </br>
                <img id="Eagle" src="../image/pic/Eagle.jpg"> &nbsp;&nbsp;&nbsp; Eagles are large birds of prey which lives in Africa as well as in many other places in the world. Eagles hunt during the day and have very good eyesight. 
                <input type="button" id="stylo7" value="more..." />
                </br>
                </br>
                </div>
            





        </div>>
</body>
</html>