<!DOCTYPE html>

<html>
	<head>
		<title> Africa </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
         <link rel="stylesheet" href="../public/zoo.css" type="text/css"/> 
         <script>src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"</script>
	     <script src="../script/code.js"></script>
        <script src="../script/jqueryy.js"></script>
        <script src="../script/animation.js"></script>
	</head>
	<body id="body">
        <div class="col-12" id="cadre">
            <%-include("./partials/menu")%>
                <div class="col-12" id="menu1">
                &nbsp;&nbsp;&nbsp;
                <span> Safari adventure </span>
                <img id="world" src="../image/pic/world.png">
                <img id="search" src="../image/pic/search.jpg">
                </div>
            

                <div class="container">
                    <div class="row">
                    <div id="coeur">
                    <img class="col-12" id="album" src="../image/pic/animaux.jpg">
                </div>
                    </div>
                    <div class="row">
                    <div class ="col-12 d-none d-md-block">    
                    <h1 > Explore Africa </h1>
                </div>
            </div>
            <div class="row">
                <div class ="col-12 d-none d-lg-block">    
                        <h3 > During Amazing Safari Tours ! </h3>
                    </div>
                    </div>
                
            
               
                    <div class="row">
                        <div class="col-auto d-none d-lg-block">
                <div id="phase1">
      <h5 id="or"> Unusual holidays </h5>
      <img  id="tig1" src="../image/pic/tiger.jpg">
          Spend a week end with us
           </br>
               <h6 id = "h"> When you book your holiday with safari adventure . you can rost assured that we                                            are a fully licensed travel agent, so your hard earned holiday money is secure</h6>
           
                                    </div>
                        </div>
                        
                    
                        <div class="col-auto d-none d-lg-block" >
                                     <div id="phase2">
                                        <h5 id="yes"> Best time to visit </h5>
                                        <img  id="ele1" src="../image/pic/elephant.jpg">
                                    Plan your African Safari with us   
                                         </br>
                                       <h6 id = "h"> Our company offers comprehensive information on Africa travel, connecting you                                              with the best travel service providers who will assist with your Africa safari travel </h6>
       
                                    </div>       
                        </div>

                        
                            <div class="col-auto d-none d-lg-block">
                                     <div  id="phase3">
                                        <h5 id="fin"> Big cat safaris </h5>
                                        <img  id="whi1" src="../image/pic/4.jpg">
                                         Explore Africa's unique safari
                                         </br>
                                       <h6 id = "h">The valery and beauty of africa will take your breath away .. be it a wildlife                                          safari or a relaxing beach holiday on Zanzibar, the choices are exceptional
                                           </h6>
             
                                           
                                    </div>
                                    </div>

                                    </div>
                                </div>
                                    
                                        
                                        
                        
                    
                   
            
			
			
		</div>
                
    </body> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>