<!DOCTYPE html>

<html>
	<head>
		<title> Gallery </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../public/pic.css" type="text/css"/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="../script/jqueryy.js"></script>
        <script src="../script/animation.js"></script>
	</head>
	<body id="body">
        
		<div id="cadre">
            <%-include("./partials/menu")%>
        
                <div id="menu1">
                &nbsp;&nbsp;&nbsp;
                    
                <span> Safari adventure </span>
                <img id="world" src="../image/pic/world.png">
                <img id="search" src="../image/pic/search.jpg">
                </div>
            </br>
        </div>
    </br>
            
                <div id="gallerie">
                    <h1 id="police">Gallery</h1>
                    <div id="ft" class=zoom>
                    </br>
                    </br>
                        <div class="container">
                            <div class="row">
                    <img class="col-sm-4 col-md-3 col-lg-3 d-none d-sm-block"  id="one" src="../image/pic/1.jpg">
                    <img class="col-sm-4 col-md-3 col-lg-3 d-none d-sm-block" id="two" src="../image/pic/2.jpg">
                    <img class="col-3 d-none d-md-block"  id="three" src="../image/pic/3.jpg">
                    <img class="col-sm-4 col-md-3 col-lg-3 d-none d-sm-block"  id="four" src="../image/pic/407.jpg">
                            </div>
                        </br>
                    </br>
                            <div class="row">
                    <img class="col-sm-4 col-md-3 col-lg-3 d-none d-sm-block" id="five" src="../image/pic/5.jpg">
                    <img class="col-sm-4 col-md-3 col-lg-3 d-none d-sm-block" id="six" src="../image/pic/6.jpg">
                    <img class="col-3 d-none d-md-block" id="seven" src="../image/pic/7.jpg">
                    <img class="col-sm-4 col-md-3 col-lg-3 d-none d-sm-block" id="eight" src="../image/pic/8.jpg">
                                </div>
                    </div>
                    </div>
               </div>     
   
    </body>

</html>